@model Saaloon.Models.ContCursos

@{
    ViewBag.Title = "ContenidoCurso";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="grid-container">
        <div class="tema">
            <h2 style="font-weight:bold">
               @Html.DisplayFor(model => model.NombreCurso)
                <hr />
            </h2>
        </div>
        <div class="precio">
            <i class="fas fa-dollar-sign"></i>  <b>Precio:</b>
            @Html.DisplayFor(model => model.Costo)
            </div>
        <div class="descripcion">
            <i class="fas fa-align-right"></i>  <b>Acerca del curso:</b>
            @Html.DisplayFor(model => model.DescripcionCurso)
        </div>
        <div class="recursos">
            <hr />
            <i class="fas fa-book"></i>  <b>Recursos:</b><br />
            @Html.DisplayFor(model => model.Recursos)
        </div>
        <div class="docente">
            <hr />
            <i class="fas fa-chalkboard-teacher"></i>   <b>Docente:</b>
        @Html.DisplayFor(model => model.NombreDocente)
            <hr />
        <center>
            <a class="myButton" href="#"><i class="fas fa-shopping-cart"></i>&nbsp;Añadir al carrito</a>
        </center>
        </div>
        <div class="video">
            <iframe class="videointro" src="@Html.DisplayFor(model => model.Videointro)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <br />
    <br />    
    <br />

    <div class="grid-container-temas table-dark ">
        <div class="temario-temas"><h3>Tabla de contenido del curso de @Html.DisplayFor(model => model.NombreCurso)</h3></div>
            @foreach (var i in Model.ListaTemario)
            {
                <div class="acercadeltema-temas">
                    <div class="tma-temas">@Html.DisplayFor(modelItem => i.Tema)</div>
                    <div class="descripciondeltema-temas">@Html.DisplayFor(modelItem => i.Descripcion)</div>
                    <div class="imagen-temas"><img src="@Html.DisplayFor(modelItem => i.FotoTema)" /></div>
                </div>
            }
    </div>

}

