@model IEnumerable<Saaloon.Models.ListComprasVM>

@{
    ViewBag.Title = "MisCompras";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@if (Model == null)
{
    <br />
    <center>
        <h2>
            <b>Aún no hay comprar registradas :(</b>
            <img src="~/Content/img/FeelingBlue-amico.png" width="50%" />
        </h2>
        <br />
    </center>
}
else
{
    <br /><br /><br />
    <table class="table table-striped">
        <tr>
            <th>
                No. Compra
            </th>
            <th>
                Nombre
            </th>
            <th>
                Nombre curso
            </th>
            <th>
                Número de tarjeta
            </th>
            <th>
               Fecha y hora de la compra
            </th>
            <th>Valor Compra</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idcompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreTarjeta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCurso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroTarjeta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Costo)
                </td>
            </tr>
        }

    </table>
    <br /><br />
}
