@model Saaloon.Models.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<br />
<div class="loginloginlogin"> 
    <div>
        <img src="~/Content/img/2731070.jpg" class="imagenlogin"/>
    </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form- signin" }))
        {
            <div class="formulariogrupo">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                    </div>
                    @Html.TextBoxFor(x => x.correo, new { @class = "form-control", @placeholder = "Correo" })
                    @Html.ValidationMessageFor(x => x.correo, "", new { @class = "text-danger" })
                </div>

                <br />
                <br />
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>
                    @Html.PasswordFor(x => x.contraseña, new { @class = "form-control", @placeholder = "Contraseña" })
                    @Html.ValidationMessageFor(x => x.contraseña, "", new { @class = "text-danger" })
                </div>
            </div>

                <br />
                <span style="font-size:12px">¿No tienes una cuenta en Virtual Class? </span><a href="Registrarse" style="font-size:12px">Registrate acá </a>
                <br />
                <br />
                <input type="submit" class="btn btn-primary" value="Iniciar Sesión">
                }
           
</div>